.Dver__page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Box{
  background-color: rgba(149, 10, 204, 0.781);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Text__ip{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
}
.Btn__back{
  position: absolute ;
    top: 15px;
    left: 15px;
    background-color: darkgoldenrod;
    height: 50px;
    width: 100px;
}
.confirm{
  margin: 25px 0 0 0;

}

.T{
  height: 350px;
  width: 500px;
}
