.Dver__page{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color:#F98736;
  height: 100%;

  
  
}
.Box{
  background-color: rgba(149, 10, 204, 0.781);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  height: 650px;
  width: 450px;
  
}
.Text__ip{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
}
.Btn__back{
  position: absolute ;
    top: 15px;
    left: 15px;
}
.confirm{
  margin: 25px 0 0 0;

}

.T{
  height: 350px;
  width: 500px;
}
