.home__page {
  align-items: center;
  text-align: center;
  background-size: cover;
  background-image: url(https://cdni-hw.ch7.com/dm/sz-md/i/images/2021/07/27/610013a910bc07.74680384.jpg);
  height: 100%;
  padding: 55px 0 0 65px;
  
}
@media screen and (min-width: 769px) {
  
}