.report__page{
width: 95%;
    height: 100%;
    background-color: rgb(214, 64, 9);
    position: relative;
    border-radius: 8px;
    font-size: 26px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 20px 0 0;
    cursor: pointer;
    color: rgb(192, 193, 245);
    margin: 5% 0 0 0;
}
