.profile__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#F98736;
}
.profile__page > img {
  border-radius: 50%;
  height: 250px;
  width: 250px; 
  background-position: center;
}
.table__container {
  display: flex;
  background-color: rgb(244, 248, 247);
  border: 1px solid black;
  height: 250px;
  width: 80%;
  justify-content: center;
  border-radius: 4px;
}
.table__container > table,
th,
td {
  border: 1.5px solid black;
}
.table__right > p {
  font-size: 26px;
  text-align: center;
}
.name__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 40%;
  background-color: rgb(245, 245, 245);
  font-size: 26px;
  border-radius: 12px;
  opacity: 0.8;
}

