.profile__page{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.profile__page > img{
  border-radius: 50%;
  height: 250px;
  width: 250px;
}
.table__container{
  display: flex;
  background-color: aquamarine;
  border:1px solid black;
  height: 250px;
  width: 90%;
  justify-content: center;
  
}
.table__container > table, th, td {
  border:1.5px solid black;
}
.table__left{
  margin: 0 10% 0 0;
}
.table__left > p {
  font-size: 26px;
  text-align: center;
}
.table__right > p {
  font-size: 26px;
  text-align: center;
}
.name__box{
  font-size: 26px;
}
