.background___page{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-image: url(https://static.thairath.co.th/media/4DQpjUtzLUwmJZZO80Rt2AP9etHdGdT3VWlnNjAmW20B.jpg);
  height: 100%;
}

.Text__P{
  margin:  25px 0 0 0;
}
