.background___page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.BOX__Book{
  background-color: rgba(168, 9, 231, 0.781);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  height: 650px;
  width: 830px;
}
.Text__P{
  margin:  25px 0 0 0;
}