.app{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Koh Santepheap', cursive;
  background-image: url("https://cdni-hw.ch7.com/dm/sz-md/i/images/2021/07/27/610013a910bc07.74680384.jpg");
  height: 100vh;
  
}